{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
<div class='background-color1 homepage-container'>
    <div class="container-fluid">
        <div id="main-picture" class='container-fluid'>
            <img class='img-fluid' src="../public/pictures/feuille-de-personnage.jpg" alt="feuille de personnage">
        </div>
        <div id='div-homepage' class='container background-color3'>
            <h2 class='color2 font-weight-bold nunito'>Réseau Rôliste : le tchat spécialisé pour les passionnés de jeu de rôle</h2>
            <h3 class='color2 font-weight-bold nunito'>Trouver des partenaires de jeu de rôle</h3>
            <p class='color2 nunito'>Il vous est certainement arrivé de déménager ou bien que certains de vos amis rôlistes déménagent. Et à ce moment-là, il est parfois difficile de retrouver des joueurs et des maîtres du jeu avec qui partager notre passion : le jeu de rôle. Ce site a été créé pour cela. C’est-à-dire permettre à chacun de trouver des rôlistes dans leur ville, département ou bien région et ainsi vous permettre de continuer de vivre des aventures rôlistiques pleines d’horreurs, d’actions et surtout pleine d’humour entre amis.</p>
            <h3 class='color2 font-weight-bold nunito'>Réseau rôliste : un tchat pour joueurs et maîtres du jeu</h3>
            <p class='color2 nunito'>Que vous soyez joueurs et/ou maîtres du jeu, Réseau Rôliste va vous permettre de contacter par tchat des personnes près de chez vous. C’est vous qui déterminez si vous cherchez des joueurs ou maîtres du jeu et à quelle distance par rapport à votre adresse. Vous aurez alors une liste de pseudos que vous pourrez contacter afin de discuter et vous rencontrer lors de partie de jeu de rôle.</p>
        </div>

    </div>
</div>

{% endblock %}